@import "@/src/styles/variables/variables.module.scss";
@import "@/src/styles/mixins/mixin.module.scss";
.icon__search {
  fill: $mainColor;
}
.header__universal__icon__search {
  fill: white;
}
.not__active {
  font-family: $fontFamilyRoboto;
  transition: 0.3s;
  font-weight: 100;

  &:hover {
    color: $secondaryColor;
  }
}
.active {
  transition: 0.3s;
  color: $secondaryColor;
  font-family: $fontFamilyRoboto;
  font-weight: 100;
}
.button__search {
  width: 30px;
  background-color: transparent;
  border: none;
  @include display__flex(flex, center, center, row, 0);
  color: gold;
  margin-left: 40px;
}
.close__menu {
  @include display__flex(flex, center, center, row, 20px);
}
.open__menu {
  @include display__flex(flex, center, center, row, 20px);
}

@media (max-width: 990px) {
  .open__menu {
    transition: 0.8s;
    padding-top: 20px;
    width: 100%;
    @include display__flex(flex, start, start, column, 20px);
    overflow: hidden;
    max-height: 60vh;
    overflow-y: auto;
  }
  .close__menu {
    transition: 0.8s;
    width: 100%;
    @include display__flex(flex, start, start, column, 20px);
    height: 0;
    overflow: hidden;
    max-height: 60vh;
  }
  .button__search {
    margin: 0;
  }
  .icon__search {
    fill: $colorWhite;
  }
}
