@import "@/src/styles/variables/variables.module.scss";
@mixin search__input {
  transition: top 0.8s;
  width: 100%;
  position: absolute;
  left: 0;
}
@mixin flex__center {
  display: flex;
  align-items: center;
}
// ---------------------------

.search__input__open {
  @include search__input;
  top: 0px;
}
.search__input__close {
  @include search__input;
  top: -48px;
}

// ---------------------------

.header__home {
  background-color: transparent;
  color: $mainColor;
}
.header__universal {
  background-color: transparent;
  color: $colorWhite;
  .icon__search {
    fill: $colorWhite;
  }
}
.header__in {
  @include flex__center;
  justify-content: space-between;
  column-gap: 20px;
  padding: 14px 0;
  flex-wrap: wrap;
}

.scroll__home {
  background-color: $colorWhite;
  position: fixed;
}
.scroll__universal {
  background-color: $mainColor;
  position: fixed;
}
.scroll__off {
  background-color: transparent;
}
// ---------------------------
@media (max-width: 990px) {
  .header__home {
    background-color: gray;
    .iconSearch {
      fill: $colorWhite;
    }
  }
  .header__universal {
    background-color: gray;
  }
  .header__in {
    color: $colorWhite;

    li {
      border-bottom: 1px solid #ededed33;
      width: 100%;
      @include flex__center;
      justify-content: start;
      padding: 10px 0;
    }
  }
}
