@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import "@/src/variables/variables.module.scss";

.big {
  font-size: 36px;
  width: 100%;
  font-family: "Days One", sans-serif;
  font-weight: 900;
  margin-bottom: 1rem;
  color: $mainColor;
  text-align: center;
}
.middle {
  font-size: 30px;
  width: 100%;
  font-family: "Days One", sans-serif;
  font-weight: 100;
  margin-bottom: 15px;
  color: $mainColor;
  text-align: center;
}
.litle {
  font-size: 20px;
  width: 100%;
  font-family: "Days One", sans-serif;
  font-weight: 500;
  color: $mainColor;
  text-align: center;
}

@media (max-width: 576px) {
  .title {
    font-size: 30px;
    margin-bottom: 0.8rem;
  }
}
@media (max-width: 356px) {
  .title {
    font-size: 25px;
    margin-bottom: 0.6rem;
  }
}
