@import "@/src/styles/variables/variables.module.scss";
.search__icon {
  fill: $secondaryColor;
}

.button__menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
@media (max-width: 990px) {
  .button__menu {
    display: flex;
  }
}
