@import "@/src/styles/variables/variables.module.scss";
@mixin rtl(
  $fontw__weight,
  $font__size,
  $text__align,
  $color,
  $font__family,
  $margin__bottom
) {
  font-size: $font__size;
  font-weight: $fontw__weight;
  text-align: $text__align;
  color: $color;
  margin-bottom: $margin__bottom;

  @if $font__family {
    font-family: $font__family;
  } @else {
    font-family: $fontFamilyRoboto;
  }
}
.h1 {
  @include rtl(fontWeightFive, 48px, center, inherit, $fontFamilyRubik, 3rem);
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.h2 {
  @include rtl(600, 36px, center, inherit, $fontFamilyRubik, 1rem);

  white-space: pre-wrap;
  // -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.h3 {
  @include rtl($fontWeightFive, 28px, center, inherit, $fontFamilyRubik, 15px);
}
.h4 {
  @include rtl($fontWeightFive, 20px, center, inherit, $fontFamilyRubik, 0);

  width: 100%;
}
.h5 {
  @include rtl($fontWeightFive, 20px, center, inherit, $fontFamilyRubik, 1rem);

  text-transform: uppercase;
  line-height: 25px;
}
.h6 {
  @include rtl(600, 14px, center, inherit, $fontFamilyRubik, 0);
}
.p {
  @include rtl(100, 16px, center, inherit, $fontFamilyRoboto, 0);

  font-style: normal;
}

@media (max-width: 576px) {
  .h2 {
    @include rtl(600, 30px, center, inherit, $fontFamilyRubik, 0.8rem);
  }
  .h1 {
    @include rtl(fontWeightFive, 40px, center, inherit, $fontFamilyRubik, 3rem);
  }
}
@media (max-width: 356px) {
  .h2 {
    @include rtl(600, 25px, center, inherit, $fontFamilyRubik, 0.6rem);
  }
}
