@import "@/src/styles/variables/variables.module.scss";

@mixin flex__acenter {
  display: flex;
  align-items: center;
}

.search__icon {
  fill: white;
}

.search__input {
  background-color: $secondaryColor;
  padding: 5px 0;

  form {
    width: 100%;
    @include flex__acenter;
    justify-content: space-between;
    overflow: hidden;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      color: white;
      outline: none;
      font-size: 18px;
      line-height: 22px;
      padding: 0.5rem 0.7rem 0.5rem 0;
      &::placeholder {
        color: white;
      }
    }
  }
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include flex__acenter;
    justify-content: center;
  }
}
